.rhis-container {
  height: 93px;
  width: 105px;
  float: left;
  border-radius: 5px;
  box-shadow: 0 24px 30px 0 rgba(0, 0, 0, 0.1);
  color: #FFFFFF;

  .value {
    margin-top: 10px;
    font-family: "TT Wellingtons DemiBold";
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    padding-left: 20px;
  }

  .description {
    padding-left: 10px;
    width: 50px;
    font-family: "TT Wellingtons Light";
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
  }
}

