<div class="rhis-container">
  <div>
<span (click)="showRestaurants()">
    <img src="assets/icons/employe/Ico_View.svg" alt="no icon">
  </span>
  </div>
  <div class="tooltip-container" *ngIf="isShownInfos" (rhisClickOutsideTooltip)="isShownInfos = false">
    <rhis-infos-tooltip
      [top]='topTooltipPosition()'
      [buttom]='buttonTooltipPosition()'
      [isFlagTop]='flagTopPosition()'
    >
      <rhis-list-restaurants-franchise
        [franchiseName]="franchiseName"
        [franchiseUuid]="franchiseUuid"
        [restaurants]="listRestaurants">
      </rhis-list-restaurants-franchise>
    </rhis-infos-tooltip>
  </div>

</div>
