<div class="add-form-container position-relative">
  <div class="row d-flex align-items-center mb-5">
    <div class="col-md-4">
      <b *ngIf="selectedStatus?.code === 'present'"
         class="popover-title">{{"GDH.DAY_VEIW.POPUP.POINTED" | translate}}</b>
      <b *ngIf="selectedStatus?.code === 'absent'" class="popover-title">{{"GDH.DAY_VEIW.POPUP.ABSENT" | translate}}</b>
    </div>
    <div class="col-md-8 d-flex align-items-center justify-content-end">
      <div class="popover-hours d-flex align-items-center" [ngClass]="{'hours-error': pointageAbsence?.error}">
        <div class="mr-2 padding-bottom-calendar" *ngIf="startHourInModification">
          <p-calendar [ngModel]="startHour"
                      (keydown.enter)="closeStartHourTimer($event)"
                      (ngModelChange)="checkStartHourValidity($event)"
                      (rhisClickOutside)="closeStartHourTimer($event)"
                      [skipFirstClick]="true"
                      [timeOnly]="true"
                      id="GDH-addPointageAbs-startH-popup">
          </p-calendar>
        </div>
        <span class="mr-2" *ngIf="!startHourInModification"
              (click)="changeStartHourStatus()">{{startHour | date: 'HH:mm'}}</span>
        -
        <div class="ml-2 padding-bottom-calendar" *ngIf="endHourInModification">
          <p-calendar [ngModel]="endHour"
                      (ngModelChange)="checkEndHourValidity($event)"
                      (rhisClickOutside)="closeEndHourTimer($event)"
                      (keydown.enter)="closeEndHourTimer($event)"
                      [skipFirstClick]="true"
                      [timeOnly]="true"
                      id="GDH-addPointageAbs-FinH-popup">
          </p-calendar>
        </div>
        <span class="ml-2" *ngIf="!endHourInModification"
              (click)="changeEndHourStatus()">{{endHour | date: 'HH:mm'}}</span>
      </div>
      <span class="gdh-header-popover" (click)="hidePopPup()">
        <img src="assets/icons/gdh/Btn_Close.svg" alt=""/>
      </span>
    </div>
    <div class="col-md-8">
      <div *ngIf="absenceLimit || selectedType?.codeGdh === 'RE' || selectedType?.codeGdh === 'DA'" class="link-style">
      <span class="font-weight-bold"
            (click)="printVoucher(pointageAbsence)">{{linkText}}</span>
      </div>
    </div>
  </div>
  <span *ngIf="pointageAbsence?.error"
        [ngClass]="{'hours-error error-text': pointageAbsence?.error}">{{"GDH.DAY_VEIW.POPUP.HOUR_ERROR_MESSAGE" | translate}}</span>
  <div class="row mrg-top-10">
    <div class="col-md-12">
      <p-dropdown (ngModelChange)="setListOfTypesBasedOnStatusFilter($event)"
                  [(ngModel)]="selectedStatus"
                  [autoDisplayFirst]="false"
                  [hasError]="(selectedStatus == undefined) && isSubmitted"
                  [options]="statuses"
                  dataKey="code"
                  id="GDH-addPointageAbs-listStatut-btn"
                  optionLabel="value"
                  rhisStyleForm
                  selector=".ui-dropdown"
      ></p-dropdown>
    </div>
  </div>

  <div class="row mrg-top-10">
    <div class="col-md-12">
      <p-dropdown [options]="types"
                  dataKey="libelle"
                  optionLabel="libelle"
                  [autoDisplayFirst]="false"
                  (ngModelChange)="selectedTypeChanges($event)"
                  [(ngModel)]="selectedType"
                  rhisStyleForm
                  [hasError]="(!selectedType) && isSubmitted && (selectedStatus?.code != 'deleted')"
                  selector=".ui-dropdown"
                  id="GDH-addPointageAbs-type-dropdown"
      ></p-dropdown>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 valider-popover">
      <button type="button" (click)="submit()"
              class="btn btn-primary validate-btn"
              id="GDH-addPointageAbs-validate-btn">
        <span>{{"GDH.DAY_VEIW.POPUP.BUTTON_VALIDER" | translate | uppercase}}</span>
      </button>
    </div>
  </div>
</div>
