<div class="row">
  <div class="col-md-12 popover-padding">
    <div class="popover-style">
      <div> {{employee?.libelleGroupeTravail}}</div>
      <div *ngIf="employee?.codeGdhGroupeTravail" class="font-weight-bold"> &laquo; {{employee?.codeGdhGroupeTravail}}
        &raquo;
      </div>
    </div>
    <div class="popover-style">
      <div class="font-weight-bold"> {{"GDH.PERIOD_VIEW.MATRICULE" | translate}}</div>
      <div> {{employee?.matricule || "-"}}</div>
      <div> / </div>
      <div class="font-weight-bold">{{"GDH.PERIOD_VIEW.CARTE" | translate}}</div>
      <div>{{employee?.codeBadge || "-"}}</div>
    </div>
    <div class="popover-style">
      <div class="font-weight-bold">{{"GDH.PERIOD_VIEW.DATE_ENTREE" | translate}}</div>
      <div> {{employee?.dateEntree | date: 'dd.MM.yyyy'}}</div>
    </div>
    <div class="popover-style">
      <div class="font-weight-bold">{{"GDH.PERIOD_VIEW.DATE_SORTIE" | translate}}</div>
      <div> {{employee?.dateSortie | date: 'dd.MM.yyyy'}}</div>
    </div>
  </div>
  <div class="col-md-12 popover-padding">
    <div class="link-style">
            <span class="font-weight-bold voir-plus-employee-info"
                  [routerLink]="rhisRouter.getRouteDetailContratEmployee('HOME_EMPLOYEE', selectedEmployeeUuId)">{{"GDH.PERIOD_VIEW.VOIR_PLUS" | translate }}</span>
    </div>
  </div>
</div>
