<div class="rhis-container view">
  <div class="header row" (rhisHeightScrollableSection)="heightInterface = ($event + 'px')"
       [offset]="220">
    <div class="col-6">
      <h1 class="titre-principale-page-rhis">{{pageTitle}}</h1>
    </div>
    <div class="float-right col-6">
      <button type="button" [disabled]="verifSave()" (click)="restaurantVerificationBeforeSave()"
              class="btn save-add-button-rhis orange-background">
        <span>{{'BUTTON.SAVE' | translate}}</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>

    <!-- list des rapport -->
    <div class="col-4">
      <p-fieldset class="fieldset-new-header" legend="{{'GDH.PAY.REPORT_LIST' | translate}}">
        <div class="width-100 mt-3" *ngIf="sessionService.getProfil() === 'superviseur' ">
          <section class='selectProflSection'>
            <div class="bold-text"> {{'GDH.PAY.SELECT_PROFILE' | translate}}</div>
            <div class="dropdownProfilSection">
              <p-dropdown [options]="profilWithRestaurantInFranchiseList" [filter]="true"
                          (onChange)="getParamEnvoiByProfil()" [(ngModel)]="profilSelectionne" optionLabel="libelle"
                          placeholder={{profilPlaceHolder}}>
              </p-dropdown>
            </div>
          </section>
        </div>

        <div class="width-100 mt-3">
          <div class="bold-text"> {{'GDH.PAY.SELECT_RAPPORT' | translate}}</div>
          <br>
          <div class="row ml-0 mr-0 " *ngFor="let report of reportList">
            <div class="col-2 pl-0">
              <p-inputSwitch [(ngModel)]="report.value" [disabled]="report?.disabled"
                             [ngClass]="{'green-switch' : report?.value,'grey-switch' : !report?.value}"></p-inputSwitch>
            </div>
            <div class="col-10 pr-0 pull-right">
              <span>{{report?.name | translate}}</span>
            </div>
          </div>
        </div>
      </p-fieldset>
    </div>


    <!-- end list des rapport -->

    <div class="col-6 envoi-mail-param-paie scroll-general-rhis">
      <p-fieldset class="fieldset-new-header" legend="{{'GESTION_PARC_RAPPORT.SECOND_TAB' | translate}}">
        <!-- list des destinataires -->
        <div class="mt-3 p-field">
          <div class="bold-text">{{"PARAMETRE_ENVOI_RAPPORT_FRANCHISE.DESTINATAIRES"|translate}}</div>
          <p-autoComplete (completeMethod)="filterReceiver($event)"
                          (onKeyUp)="addReceiverByEmail($event)"
                          (onSelect)="selectReceiver($event)"
                          (onUnselect)="verifierEmailsReceivers()"
                          [(ngModel)]="selectedReceivers"
                          [suggestions]="filteredReceiver"
                          class="center-flex-block mt-1"
                          multiple="true">
            <ng-template let-value pTemplate="selectedItem">
        <span class="selected-text" *ngIf="value.prenom && value.nom">{{value?.prenom }} {{value?.nom }}
          ({{value?.email }}) </span>
              <span *ngIf="!value.prenom && !value.nom"
                    class="selected-text">{{value?.email }}</span>
            </ng-template>
          </p-autoComplete>

          <p *ngIf="errorReceiver">
            <small
              class="p-error">{{"PARAMETRE_ENVOI_RAPPORT_FRANCHISE.DESTINATAIRES_ERROR_INVALIDE"|translate}}</small>
          </p>
        </div>
        <!-- end list des destinataires -->

        <!-- Objet de l'email -->
        <div class="mt-3">
          <div class="bold-text">{{"PARAMETRE_ENVOI_RAPPORT_FRANCHISE.OBJET"|translate}}*</div>
          <div class="center-flex-block mt-1">
            <input
              [(ngModel)]="parametreEnvoi.objectMail"
              [class.invalid]="parametreEnvoi.objectMail==null || parametreEnvoi.objectMail==''"
              class="input-rapport-rhis"
              pInputText
              type="text">
          </div>
          <p *ngIf="parametreEnvoi.objectMail==null || parametreEnvoi.objectMail==''">
            <small class="p-error">
              {{"PARAMETRE_ENVOI_RAPPORT_FRANCHISE.OBJET_ERROR"|translate}}
            </small>
          </p>
        </div>
        <!-- End Objet de l'email -->

        <!-- message de l'email -->
        <div class="mt-3">
          <div class="flexDiv">
            <span class="bold-text">{{"PARAMETRE_ENVOI_RAPPORT_FRANCHISE.MESSAGE"|translate}} </span>
            <span class="pi pi-info-circle"
                  (click)="showTooltip()">
            </span>

            <div class="tooltip-container" *ngIf="isShownInfos" (rhisClickOutsideTooltip)="isShownInfos = false">
              <rhis-infos-tooltip>
                <div>
                  {{messageTooltip}}
                </div>
              </rhis-infos-tooltip>
            </div>

          </div>
          <div
            class="editable" contenteditable="true" id="divMessage"
            ngDefaultControl

            (keyup)="updateMessage($event)"
            [ngStyle]="{'height': parametreEnvoi.listRestaurantDispaly.length<2 ? '80px' : 'max-content' }"
            class="input-rapport-rhis mt-1 placeholder-paie"
            pInputTextarea>
            <rhis-parametre-placeholder [listRestaurant]="selectedRestaurants"
                                        [message]="parametreEnvoi.message"  [messageBox]="placeHolderMessage" (textChanges)="getChanges($event)"></rhis-parametre-placeholder>
          </div>
        </div>
        <!-- end message de l'email -->
      </p-fieldset>
    </div>

  </div>
</div>

<rhis-pop-up
  (closeEvent)="closePopup()"
  [showPopUp]="showPopup"
  [title]="'GDH.PARAMETRE_PAIE_EXISTE_POUR_PROFIL' | translate">
  <div>

  </div>
  <div class="font-weight-bold delta-txt mb-5 mt-4">
    <span> {{"GDH.PARAMETRE_PAIE_EXISTE_POUR_PROFIL_MSG" | translate }}</span>
  </div>
  <div class="row d-flex justify-content-between">
    <button class="col-5 btn save-add-button-rhis orange-background ml-0"
            id="GDH-DELTA-FALSE-btn"
            (click)="saveParametreWithNewResturant()"
            type="button">
      <span>{{"COMMON_LOI.TRUE" | translate | uppercase}}</span>
    </button>
    <button class="col-5 btn save-add-button-rhis orange-background ml-0"
            id="GDH-DELTA-TRUE-btn"
            (click)="closePopup()"
            type="button">
      <span>{{"COMMON_LOI.FALSE" | translate | uppercase}}</span>
    </button>
  </div>
</rhis-pop-up>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog [appendTo]="'body'"></p-confirmDialog>
