<p-dialog [showHeader]="false"
          [(visible)]="showPopUp"
          [modal]="true"
          [responsive]="true"
          [maximizable]="true"
          [appendTo]="'body'"
          [dismissableMask]="true"
          (onHide)="closePopUp()">

  <div class="pop-up-container-rhis pop-up-style-generique">
    <div class="modal-header">
      <h5 class="modal-title">{{title}}</h5>
      <div class="close-btn-modal-rhis">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopUp()">
          <img src="assets/icons/employe/Btn_Close_Beige.svg" alt="">
        </button>
      </div>
    </div>
    <div class="modal-body">
      <div
        class="content pop-up-content"
        [style.width.px]="width">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</p-dialog>
