fieldset {
  border: 1px solid #C8C7C4;
  padding: 35px;
  margin: 0;
  border-radius: 3px;
}

legend {
  color: #414141;
  font-family: "TT Wellingtons Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  padding: 0 10px;
  width: fit-content;
}

.equality-hours-error {
  margin-top: -20px;
}
