<div class="container-fluid h-100">
  <div class="all-auth-rhis">
    <div class="backgroud-auth-rhis">
      <div class="container-auth-rhis">
        <div class="header-auth-rhis">
          <img src="assets/icons/accueil/Logo/Logo_MyRHIS_big.svg" alt=""> <br><br>

        </div>
        <form (ngSubmit)="setPassword()" [formGroup]="addUserPassword">
          <div class="form-group">
            <label class="section-element-title" for="AUTH-email">
              {{"LOGIN.PASSWORD" | translate}} *
            </label>
            <input class="form-control text-field"
                   type="password"
                   id="password"
                   name="password"
                   [(ngModel)]="password"
                   formControlName="password"
                   required="true"/>
            <span class="form-item-error red small-rhis ml-1"
                  *ngIf="(addUserPassword.controls['password'].untouched  && isSubmitted )">
                      {{"LOGIN.passwordError" | translate}} </span>
            <span class="form-item-error red small-rhis ml-1"
                  *ngIf="addUserPassword.controls['password'].invalid && addUserPassword.controls['password'].touched ">
              {{"USER.PASSWORD_INVALID" | translate}} </span>
          </div>
          <div class="form-group form-group-without-margin">
            <label class="section-element-title" for="AUTH-pwd">
              {{"LOGIN.CONFIRM_PWD" | translate}} *
            </label>
            <input class="form-control text-field"
                   type="password"
                   id="confirmPassword"
                   name="confirmPassword"
                   [(ngModel)]="confirmPassword"
                   formControlName="confirmPassword"
                   required="true"/>
<!--            <span class="form-item-error red small-rhis ml-1"-->
<!--                  *ngIf="addUserPassword.controls['confirmPassword'].invalid &&(addUserPassword.controls['confirmPassword'].touched )">-->
<!--           {{"LOGIN.confirmPasswordError" | translate}} </span>-->
            <span class="form-item-error red small-rhis ml-1"
                  *ngIf=" (wrongPass && passwordIsValid === false)">
           {{"LOGIN.confirmPasswordError" | translate}} </span>
          </div>
          <div class="form-group d-flex mt-5 w-100 flex-row-reverse">
            <button  class="btn btn-connexion-auth-rhis blue-background" >{{"BUTTON.VALIDATE" | translate}}</button>
          </div>
        </form>

<!--        <div class="form-group d-flex mt-5 w-100 flex-row-reverse">-->
<!--          <div class="btn save-add-button-rhis blue-background mt-5 btn-popup-rhis" (click)="updatePassword()">-->
<!--            <span>{{'BUTTON.VALIDATE' | translate}}</span>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog [appendTo]="'body'"></p-confirmDialog>

