td {
  vertical-align: top;

  &:hover {
    .icon-add {
      opacity: 1;
      transition: opacity 500ms;
      filter: invert(70%) sepia(16%) saturate(7366%) hue-rotate(156deg) brightness(97%) contrast(85%);
    }
  }
}

.empName {
  color: #414141;
  font-family: "TT Wellingtons Medium";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  @media screen and (max-width: 1366px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.contract {
  color: #9B9B9B;
  font-family: "TT Wellingtons Medium";
  font-size: 8px;
  letter-spacing: 1px;
  line-height: 11px;
  height: 22px;
  border: 1px solid #AFA899;
  border-radius: 5px;
  background-color: rgba(175, 168, 153, 0.15);
  float: left;
  padding: 5px;
  margin-top: 5px;
}

.employeeCell {
  padding: 15px;
  cursor: pointer;
  @media screen and (max-width: 1366px) {
    padding: 0 8px !important;
  }
}

:host.row-selected {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(53, 53, 240, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(53, 53, 240, 1);
  box-shadow: 0px 0px 7px 0px rgba(53, 53, 240, 1);
  background-color: #eeeeee4d;
  margin-top: 2px;
  margin-bottom: 3px;
}

.icon-add {
  background-image: url(/assets/icons/planning/add-icon/add-small.svg);
  width: 32px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: calc((100% - 32px) / 2);
  margin-top: 10px;
  display: inline-block;
  opacity: 0;
  cursor: pointer;
  transition: opacity 200ms;
  z-index: 999999;
}

.drop-target {
  border: 2px dashed #ccc !important;
}

.conge-planned {
  width: calc((((100vw - 450px) / 7) * 3) - 20px);
  position: absolute;
  margin-left: calc(((100vw - 450px) / 7) + 290px);
  background-image: url(/assets/images/diagonal-pattern.png);
  background-size: auto 150%;
  border-radius: 5px;
  border: 1px solid #C8C7C4;
  box-shadow: 0 24px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 4px;
  z-index: 9;

  .leave-text {
    color: #FFFFFF;
    font-family: "TT Wellingtons Medium";
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    border-radius: 5px;
    background-color: #C8C7C4;
    padding: 0 5px;
    text-transform: uppercase;
    float: left;
  }
}

.employee-draggable {
  padding: 10px;
  border-radius: 5px;
  float: left;
}

.contract-icon-x {
  background-image: url(/assets/icons/planning/Ico_X.png);
  width: 20px;
  height: 13px;
  float: left;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.contract-icon-y {
  background-image: url(/assets/icons/prevision-icons/check.png);
  width: 20px;
  height: 13px;
  float: left;
  background-repeat: no-repeat;
  margin-right: 5px;

}

.td-drop-zone {
  padding-top: 50px;
  @media screen and (max-width: 1366px) {
    padding-top: 10px;
  }
}

.hebdo-contrat-rhis {
  text-transform: uppercase;
}

:host ::ng-deep {
  p-dropdown {
    border: 1px solid #ced4da !important;
  }
}
