<div class="pdf scroll" style="height: 100%;">
  <ngx-extended-pdf-viewer [filenameForDownload]=documentName
                           [showBookmarkButton]=false [showFindButton]=false
                           [showHandToolButton]=false
                           [showOpenFileButton]=false
                           [showPresentationModeButton]=false
                           [showPropertiesButton]=false
                           [showScrollingButton]=false
                           [showSecondaryToolbarButton]=false
                           [showSidebarButton]=false
                           [showZoomButtons]=false
                           [src]="reportViewer"
                           backgroundColor="rgb(82, 79, 79)"
                           height="100%"
                           useBrowserLocale="true">
  </ngx-extended-pdf-viewer>
</div>
