.header {
  height: 56px;
  color: #414141;
  font-family: "TT Wellingtons Medium", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  margin: 20px auto 0 auto;
}

.close-icon {
  top: 19.5px;
  right: 19.5px;
}
.pointer-cursor {
  cursor: pointer;
}
