.detail-temps-paye {
  background-color: white;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  padding-top: 0;
  padding-bottom: 15px;
  margin-left: 4px;

  .detail-temps-paye-header {
    display: grid;
    grid-template-columns: 35px auto;

    .arrow-down-planning {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
    }

    .header-info {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 12% 15% 15% 15% 15% 15% 15% auto;

      .header-info-title {
        color: #414141;
        font-family: "TT Wellingtons Medium", sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 22px;
      }

      .header-info-second-title {
        color: #C8C7C4;
        font-family: "TT Wellingtons Medium", sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        text-align: center;
      }

      .header-info-values {
        color: #414141;
        font-family: "TT Wellingtons Medium", sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 17px;
        text-align: center;
      }
    }
  }

  .detail-temps-paye-grid {
    display: grid;
    grid-template-rows: repeat(8, auto);
    padding-left: 60px;

    .hour {
      color: #9B9B9B;
      font-family: "TT Wellingtons Medium", sans-serif;
      font-size: 12px;
      font-weight: 600;
      line-height: 17px;
    }

    .day-title {
      color: #414141;
      font-family: "TT Wellingtons Medium", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      padding-left: 10px;
    }

    .day-value {
      text-align: right;
      color: #414141;
      font-family: "TT Wellingtons Medium", sans-serif;
      font-size: 12px;
      font-weight: 600;
      line-height: 17px;
    }

    .day-total {
      color: #414141;
      font-family: "TT Wellingtons Medium", sans-serif;
      font-size: 12px;
      font-weight: bold;
      line-height: 17px;
    }

    .background-grey {
      background-color: #F7F7F7;
    }

    .border-radius-left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .border-radius-right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-right: 10px;
    }

    .selected-day {
      color: #FF9B42;
    }
  }
}

.chart-icon {
  width: 28px;
}

.temps-paye-all {
  display: grid;
  grid-template-columns: 203px auto;
  margin-left: 4px;

  .block-right-temps {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    .loop-block-temps {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: stretch;
    }
  }
}

hr.style_hr {
  margin-top: 0;
}
