.align-rapport-list{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.space-between {
    margin-bottom: 20px;
}
:host ::ng-deep {
    .ui-inputswitch-slider {
        background-color: #ccc !important;
        border: 1px solid #ccc;
      }
    
      .ui-inputswitch {
        width: 56px !important;
        height: 28px !important;
      }
    
      .ui-inputswitch .ui-inputswitch-slider:before {
        height: 22px !important;
        width: 22px !important;
        left: 2px !important;
        bottom: 2px !important;
      }
    
      .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
        -webkit-transform: translateX(27px) !important;
        transform: translateX(27px) !important;
      }
    
      .ui-inputswitch {
        width: 56px !important;
        height: 28px !important;
      }
    
      .ui-inputswitch .ui-inputswitch-slider:before {
        height: 22px !important;
        width: 22px !important;
        left: 2px !important;
        bottom: 2px !important;
      }
    
      .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
        -webkit-transform: translateX(27px) !important;
        transform: translateX(27px) !important;
      }
    
      .green-switch .ui-inputswitch-checked .ui-inputswitch-slider {
        background-color: #2DC76D !important;
        border: 1px solid #2DC76D;
      }
    
      .blue-switch .ui-inputswitch-checked .ui-inputswitch-slider {
        background-color: #ccc !important;
        border: 1px solid #ccc;
      }
}
.align-validation-submit-buttons{
    margin-left: 194px;
    margin-top: 28px;
}