:host ::ng-deep {
  .ui-dropdown {
    height: 30px;
    .ui-dropdown-label {
      bottom: 13px;
    }
  }
}

.header.row {
  height: 50px;
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  .col-6 {
    padding-left: 0;
  }
}

.filtre-jour-ferie {
  margin-bottom: 20px;

  label {
    width: 60px;
    float: left;
  }

  p-dropdown {
    width: 15%;
    float: left;
  }
}

.bloc-year-JF {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  margin-left: 44px;
  margin-bottom: 10px;
  .btn-inc-dec-JF {
    margin: 0 15px;
    img {
      width: 35px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
  .year-selected-JF {
    font-size: 14px;
    font-family: "TT Wellingtons Medium", sans-serif;
    font-weight: 700;
  }
}






