<div class="rhis-container">
  <div class="header">
    <div class="name">
      <div class="avatar"><span>{{franchiseName?.substring(0, 1) | uppercase}}</span></div>
      <div class="full-name">{{franchiseName}}</div>
    </div>
  </div>

  <div class="title">
    <span>{{"RESTAURANT.ALL" | translate}}</span>
    <span 
      [routerLink]="rhisRouter.getRouteAllRestaurantByFranchiseUuid('HOME_SOCIETE', franchiseUuid)">{{"BUTTON.SEE" | translate}}</span>
  </div>
  <div class="restaurants">
    <div class="list scroll-general-rhis">
      <div class="restaurant" *ngFor="let restaurant of restaurants">
        <span>{{restaurant | titlecase}}</span>
      </div>
    </div>
  </div>
</div>