.header.row {
  height: 50px;
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
  align-items: center;

  .col-6 {
    padding-left: 0;
  }
}

.width-5 {
  width: 5%;
}

.width-7 {
  width: 7%;
}

.width-8 {
  width: 8%;
}

.width-10 {
  width: 10%;
}

.width-12 {
  width: 12%;
}

.width-45 {
  width: 45%;
}



