<rhis-afficher-decoupage-horaire [initListeDecoupageHoraire]="listDecoupageHoraire"
                                 [initListeJours]="collumns"
                                 [setPremierJourRestaurant]="firstDayAsInteger"
                                 [setAddNewLabel]="addNewLabel"
                                 [setUpdateLabel]="updateLabel"
                                 [nightValue]="setNightValue"
                                 [setNewValueNightValue]="setNewValueNightValue"
                                 [setDuplicatedValue]="isDuplicated"
                                 (checkIfNightValueEvent)="checkIfNightValue('update')"
                                 (checkIfNightValueNewDecoupageEvent)="checkIfNightValue('new')"
                                 (showErrorInValues)="showErrorInValues($event)"
                                 (showDeleteConfirmBox)="showDeleteConfirmBox($event)"
                                 (persistDecoupageHoraireToDataBaseEvent)="persistDecoupageHoraire($event)"
                                 (saveListDecoupageHoraireEvent)="saveListDecoupageHoraire($event)"
                                 (checkThatLibelleExistEvent)="checkThatLibelleExist($event)"
                                 (errorValidation)="dispalyErrorValidationMessage($event)"></rhis-afficher-decoupage-horaire>
