.header.row {
  height: 50px;
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  .col-lg-6 {
    padding-left: 0;
  }

  .float-right.col-md-8.col-lg-6 {
    padding-right: 0
  }
}

@media screen and (max-width: 991px) {
  :host ::ng-deep .table-list.bg-gris-avec-border p-table .ui-table table .ui-table-tbody > tr .td-left-border {
    padding-left: 10px;
  }

  :host ::ng-deep .table-list.bg-gris-avec-border p-table .ui-table table .ui-table-tbody > tr .td-container.td-left-border {
    line-height: 14px;
    padding-top: 10px;
  }
}
