h1 {
  color: #414141;
  font-family: "TT Wellingtons Medium";
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  float: left;
  @media screen and (max-width: 1440px) {
    font-size: 32px;
    line-height: 44px;
  }
  @media screen and (max-width: 1366px) {
    font-size: 30px;
    line-height: 40px;
  }
  @media screen and (max-width: 1244px) {
    font-size: 26px;
    line-height: 36px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 22px;
    line-height: 32px;
  }
}

h3 {
  color: #9B9B9B;
  font-family: "TT Wellingtons Medium";
  font-size: 26px;
  font-weight: 500;
  line-height: 50px;
  float: left;
  @media screen and (max-width: 1440px) {
    font-size: 24px;
    line-height: 40px;
  }
  @media screen and (max-width: 1244px) {
    font-size: 22px;
    line-height: 38px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 20px;
    line-height: 36px;
  }
}
.arrow-right {
  float: left;
  margin: 10px;
  padding-left: 6px;
  padding-right: 10px;
}

.btn-delete {
  width: 60px;
  height: 60px;
  transition: width 0.5s, height 0.5s;
  z-index: 9;

  img {
    width: 100%;
    height: auto;
  }
}

.btn-delete.drop-active {
  width: 80px;
  height: 80px;
}

.btn-group {
  margin: 10px;

  button {
    width: 100px;
    padding: 7px 20px;
    @media screen and (max-width: 1400px) {
      width: 85px;
      padding: 7px 15px;
    }
    @media screen and (max-width: 1300px) {
      width: 75px;
      padding: 7px;
    }
  }

  .btn-light {
    color: #9B9B9B;
    font-family: "TT Wellingtons Medium";
    font-size: 10px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #DEDEDE;
  }
}

.btn-group .btn-light.active {
  background-color: #F7F7F7;
}

:host ::ng-deep {
  table.planning {
    width: 100%;
    border: 1px solid #F2F0EE;
    border-collapse: collapse;

    th, td {
      border: 1px solid #F2F0EE;
    }

    th:last-child {
      border-right: none;
      display: flex;
      justify-content: space-around;
    }
  }

  .moving-active {
    opacity: 0.8;
  }
}

.empNameColumn {
  width: 19.4%;
}

.dayName {
  color: #9B9B9B;
  font-family: "TT Wellingtons Medium";
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  width: calc((100% - 243px) / 7) !important;
  padding-top: 17px;
}

.nightValue {
  font-weight: bold;
}

.bd {
  font-weight: normal;
}

.wrongLoiValueColor {
  background-color: #ff0000 !important;
}

.wrongLoiValueColor > td {
  color: #fff !important;
  background-color: #ff0000 !important;
}

.LoiValueColor {
  background-color: #42A948;
}

:host ::ng-deep {
  .ui-calendar .ui-inputtext {
    width: 85%;
    min-width: 210px;
    height: 35px;
    border: none;
    margin-bottom: 10px;
    text-align: center;
  }

  .ui-datepicker:not(.ui-datepicker-inline) {
    top: 47px !important;
    left: 0;
  }

  .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
    padding: 3px;
  }

  .block-input-week-rhis {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    max-width: 285px;
    padding-left: 3px;

    .img-planning {
      position: absolute;
      z-index: 999;

      img {
        width: 20px;
        height: auto;
        cursor: pointer;
        margin-top: -5px;
      }
    }

    .img-planning.left {
      left: 14px;
    }

    .img-planning.right {
      left: 185px;
    }
  }

  .ui-calendar .ui-datepicker {
    min-width: 315px;
  }

  .ui-calendar.ui-calendar-w-btn {
    .ui-inputtext,
    .ui-inputtext:hover {
      border: 1px solid #DEDEDE;
    }

    .ui-datepicker-trigger.ui-button,
    .ui-datepicker-trigger.ui-button:enabled:hover,
    .ui-datepicker-trigger.ui-button:enabled:active {
      background: none;
      color: #DEDEDE;
      border: 1px solid #DEDEDE;
      padding: 1px 3px 2px 0;
      border-left: none;
      outline: none;

      .pi {
        font-size: 2.25em;
      }
    }

    .ui-inputtext:enabled:focus:not(.ui-state-error) {
      border: 1px solid #DEDEDE;
    }
  }
}

:host ::ng-deep {
  table.planning {
    tbody, thead {
      display: block;
    }

    tbody.content-planning-rhis.heightBodyPlanning {
      height: auto;
    }
  }

  .rhis-container table.planning thead th.empNameColumn {
    width: 243px !important;
  }

  .rhis-container table.planning tbody.content-planning-rhis td {
    width: calc((100% - 243px) / 7);
  }
  .rhis-container table.planning tbody.content-planning-rhis td.employeeCell {
    width: 243px !important;
    z-index: 9;
    background: #fff;
  }

}

.block-flex-between-rhis {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 16px;
}

.list-icon-planning-rhis {
  position: relative;
}

.btn-list-manager-rhis {
  img {
    width: 34px;
    height: 34px;
  }
}

.col-popup-anomalie-1 {
  width: 18%;
}

.col-popup-anomalie-2 {
  width: 28%;
}

.col-popup-anomalie-3 {
  width: 54%;
}

.btn-dropdown {
  display: grid;
  grid-template-columns: auto auto auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  right: 15px;

  hr {
    margin: 0;
  }
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  color: #615f5f;
  font-family: "TT Wellingtons Medium";
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 14px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active-planning-manager {
  background: linear-gradient(45deg, rgba(155, 155, 155, 0.99) 1%, #fff 1%, #fff 49%, #9B9B9B 49%, #9B9B9B 51%, #fff 51%, #fff 99%, #9B9B9B 99%);
  background-size: 6px 6px;
  background-position: 50px 50px;
}
