.envoi-rapport {
  font-size: 12px;
}

.selected-text {
  margin-right: 20px;
}

.bold-text {
  font-weight: bold;
}

:host ::ng-deep .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token {
  font-size: 14px;
  padding: 0.2145em 0.429em;
  margin: 0 0.286em 6px 0;
  background: #c6dff5;
  color: #2f2f2f;
}

:host ::ng-deep .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token .error-email {
  font-size: 14px;
  padding: 0.2145em 0.429em;
  margin: 0 0.286em 6px 0;
  background: #fd5c5c;
  color: #2f2f2f;
}

.p-error {
  color: #fd5c5c;
}

.error-email {
  background: #fd5c5c;
}

.invalid {
  border-color: #e24c4c;
}

.radio-email-recurrent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}

textarea {
  margin-top: 10px;
  width: 100%;
  min-height: 100px;
  background: none repeat scroll 0 0 rgba(221, 221, 221, 0.07);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  color: #555555;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

:host ::ng-deep {
  .ui-autocomplete {
    width: 100%;
  }

  .ui-inputtext {
    width: 100% !important;
  }

  textarea.ui-inputtext {
    width: 100% !important;
  }

  .ui-autocomplete-input-token input {
    width: 22em;
    height: 37px;
    font-family: "TT Wellingtons DemiBold";
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    padding: 17px;
    outline: none;
  }
}
