.header.row {
  height: 50px;
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  .col-5.col-lg-6,
  .col-7.col-lg-6,
  .col-6 {
    padding-left: 0;
    padding-right: 0;
  }

  h1.titre-principale-page-rhis {
    @media screen and (max-width: 991px) {
      line-height: 32px;
    }
  }
}

:host ::ng-deep {
  .section-element .text-field {
    margin-top: 0;
  }
}

.menu-list {
  span {
    text-transform: uppercase;
    float: left;
    font-family: "TT Wellingtons DemiBold", sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    width: fit-content;
    cursor: pointer;
    outline: none;
  }

  .active {
    color: #414141;
    padding-bottom: 5px;
    border-bottom: 1px solid #414141;
  }

  .not-active {
    color: #414141;
    opacity: 0.35;
  }
}

.add-restaurant-progress-body-block {
  top: -30px;
  min-width: 225px;
  min-height: 70px;
}

