.complementaire {
  height: 105px;
  margin-bottom: 35px;
  padding: 20px 20px 0 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  @media screen and (max-width: 1366px) {
    padding: 10px 10px 0 10px;
    height: 90px;
    margin-bottom: 25px;
  }
  @media screen and (max-width: 1024px) {
    margin-bottom: 20px;
  }
  .sep {
    height: 65px;
    width: 1px;
    background-color: #F0F0F0;
    float: left;
    margin: 0 7% 0 8%;
  }
  .indicateur-pourcentage {
    float: left;
    height: 65px;
    width: 20%;
    @media screen and (max-width: 1366px) {
      width: 15%;
    }
    @media screen and (max-width: 1024px) {
      width: 12%;
    }
  }
  .nbr-heures-complementaire {
    float: left;
    text-align: center;
    margin: 8px auto 0 auto;
    width: 30%;
    border-left: 1px solid #F0F0F0;
    @media screen and (max-width: 1366px) {
      width: 25%;
    }
    @media screen and (max-width: 1024px) {
      width: 30%;
    }
    span{
      margin: 0;
      height: 36px;
      color: #414141;
      font-family: "TT Wellingtons Medium";
      font-size: 26px;
      font-weight: 600;
      line-height: 36px;
      @media screen and (max-width: 1366px) {
        font-size: 18px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 16px;
      }
    }
    h4 {
      width: fit-content;
      margin: 0 auto;
      height: 14px;
      opacity: 0.9;
      color: #414141;
      font-family: "TT Wellingtons Medium";
      font-size: 10px;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
      @media screen and (max-width: 1024px) {
        font-size: 9px;
      }
    }
  }
  .cout-total {
    float: left;
    text-align: center;
    margin: 8px auto 0 auto;
    width: 30%;
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
    h4{
      height: 14px;
      width: fit-content;
      margin: 0 auto;
      opacity: 0.9;
      color: #414141;
      font-family: "TT Wellingtons Medium";
      font-size: 10px;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
      @media screen and (max-width: 1024px) {
        font-size: 9px;
      }
    }
    span {
      height: 36px;
      width: 89px;
      color: #414141;
      font-family: "TT Wellingtons Medium";
      font-size: 26px;
      font-weight: 600;
      line-height: 36px;
      @media screen and (max-width: 1366px) {
        font-size: 18px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 16px;
      }
    }
  }
  .description {
    width: 20%;
    margin: 0 auto;
    padding-left: 5%;
    float: right;
    height: 68px;
    color: #414141;
    font-family: "TT Wellingtons Medium";
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    @media screen and (max-width: 1366px) {
      width: 30%;
      font-size: 11px;
      padding-left: 2%;
    }
    @media screen and (max-width: 1024px) {
      font-size: 9px;
      width: 28%;
    }
  }

  .spinner-container {
    text-align: center;
  }
}

:host ::ng-deep {
  .ui-progress-spinner {
    height: 75px;
  }
}
