.value_cell {
  padding-left: 160px !important;
}

.value {
  padding-left: 180px !important;
}

.param {
  padding-left: 184px !important;
}
.rubrique {
  width: 130px;
}

.rhis-container.view {
  top: 5px;
  box-shadow: none;
}
